<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <font size ="11" color="red">
          🚨 Head Quarter Vijayawada 🚨 <br></font>
    <pre class=""><font size="5" color="green">OfficerName         :          authority         :         Contacts></font><br><br>
        <font size="5" color="blue">
    Smt D. Mary Prasanthi   :   IPS Deputy Commissioner of Police (Admn)  :  dcp_admn@vza.appolice.gov.in<br><br>
Smt. A.B.T.S. Udaya Rani : Deputy Commissioner of Police-City Security Wing : 0866-2494946,dcp_csw@vza.appolice.gov.in<br><br>
    Sri B. Ranga Muni   :   ACP - City Security Wing - II   :   94413 62197,dsp_csw@vza.appolice.gov.in<br><br>
    Sri B.V. Subba Rao  :   ACP, SC & ST Cell - II   :   94906 19341,acp_scstcell@vza.appolice.gov.in<br><br>
    Sri Ch. Lakshmipathi   :   Addl. DCP, City Special Branch   :   0866-2491001,adcp_csb@vza.appolice.gov.in<br><br>
    Sri Ch. Lakshmipathi   :   Addl.DCP, L & O - West   :   0866-2573009,adcplando2@gmail.com<br><br>
    Sri Ch. Ravikanth   :   ACP - II, City Special Branch   :   0866-2491001,inspr1_csb@vza.appolice.gov.in<br><br>
    Sri Ch. Srinivasa Rao   :   ACP, Crime Zone - 2    :    94406 49618,acp2_ccs@vza.appolice.gov.in<br><br>
    Sri Dr. K. Hanumantha Rao  :  ACP - West Division  :  0866-2568313,94406 27090
</font></pre>

</center>
</body>
</html>